
#waiting-clients > #clients > .client.connected {
    color: black;
}

#waiting-clients > #clients > .client.disconnected {
    color: lightgray;
}

#game-container {
    display: flex;
    flex-direction: row;
}

#game-container > .team {
    flex: auto;
}

#game-container > #model > #pictures > img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}