body {
    background-color: #a7a7a7;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    background-size: 120vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#title-screen {
    background-color: white;
    background-image: url("assets/titleScreen.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: 120vh;
}

#waiting-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh;
}

#waiting-clients > #clients {
    font-size: 5vh;
    font-weight: bold;
}

#waiting-clients > #clients > .client.connected {
    color: black;
}

#waiting-clients > #clients > .client.disconnected {
    color: lightgray;
}

#game-container {
    display: flex;
    flex-direction: column;
}

#game-container > #teams-models {
    display: flex;
    flex-direction: row;
}

#game-container > #teams-models > .team {
    flex: auto;
}

#game-container > #teams-models > #models {
    flex: auto;
}

#game-container > #teams-models > #models > #pictures > img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#game-container > #teams-models > .team > .clients > .client > img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

#game-container > #teams-models > .team > .clients > .client > img.match {
    border: solid yellow;
}

#finish-screen {
    display: flex;
    flex-direction: column;
}

#finish-screen > #teams-models {
    display: flex;
    flex-direction: row;
}

#finish-screen > #teams-models > .team {
    flex: auto;
}

#finish-screen > #teams-models > .team.winner {
    border: solid yellow;
}

