#game-container {
    display: flex;
    flex-direction: row;
}

#game-container > .team {
    flex: auto;
}

#waiting-clients > .client.connected {
    color: black;
}

#waiting-clients > .client.disconnected {
    color: lightgray;
}