body {
    background-color: #a7a7a7;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    background-size: 120vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#title-screen {
    background-color: white;
    background-image: url("assets/titleScreen.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: 120vh;
}

#waiting-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh;
}

#waiting-clients > #clients {
    font-size: 5vh;
    font-weight: bold;
    margin-top: 5vh;
}

#waiting-clients > #clients > .client.connected {
    color: black;
}

#waiting-clients > #clients > .client.disconnected {
    color: lightgray;
}

#waiting-clients > #clients > .client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-container input {
    position: absolute;
    opacity: 0;
  }

.checkmark {
    height: 5vh;
    width: 5vh;
    background-color: lightgray;
    border-radius: 50%;
    padding-left: 5.5vh;
    margin-left: 1vh;
}

.radio-container input:checked ~ .checkmark.blue {
    background-color: blue;
}

.radio-container input:checked ~ .checkmark.red {
    background-color: red;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    min-height: 100%;
}

#game-container > #teams-models {
    display: flex;
    flex-direction: row;
    flex: 95;
}

#game-container > #teams-models > .team {
    flex: auto;
    flex: 30;
}

#game-container > #teams-models > .team#RED {
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0) 100%);
}

#game-container > #teams-models > .team#RED > .score {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    -webkit-text-stroke: 1px darkred;
    color: gold;
    width: 100%;
}

#game-container > #teams-models > .team#BLUE > .score {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    -webkit-text-stroke: 1px darkblue;
    color: gold;
    width: 100%;
}

#game-container > #teams-models > .team#BLUE {
    background: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,0,255,0) 100%);
}

#game-container > #teams-models > .team > .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#game-container > #teams-models > .team > .clients > .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

#game-container > #teams-models > .team > .clients > .client.client.disconnected {
    opacity: 0.5;
}

#game-container > #teams-models > .team > .clients > .client > span {
    font-size: 3vh;
    font-weight: bold;
    color: white;
}

#game-container > #teams-models > #models {
    flex: auto;
    flex: 60;
}

#game-container > #teams-models > #models > #level-text {
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    color: white;
    width: 100%;
}

#game-container > #teams-models > #models > #waiting-text {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    color: black;
    background-color: #ffc900;
    border-radius: 25px;
    padding: 25px;
    border: 5px solid black;
}

#game-container > #teams-models > #models > #waiting-text.small {
    font-size: 5vh;
    position: absolute; 
    top: 50%;
    width: 45%;
}

#game-container > #teams-models > #models > #countdown {
    text-align: center;
    font-size: 20vh;
    font-weight: bold;
    color: gold;
    background-color: black;
    border-radius: 50%;
}

#game-container > #teams-models > #models > #pictures > img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#game-container > #teams-models > .team > .clients > .client > img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

#game-container > #teams-models > .team > .clients > .client > img.match {
    border: solid yellow;
    box-shadow: 0 0 10px yellow;
}

#finish-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    min-height: 100%;
}

#finish-screen > #teams-models {
    display: flex;
    flex-direction: row;
    flex: 95;
}

#finish-screen > #teams-models > .team {
    flex: auto;
}

#finish-screen > #teams-models > .team#RED {
    background: linear-gradient(180deg, darkred 0%, rgba(255,0,0,0) 100%);
}

#finish-screen > #teams-models > .team#BLUE {
    background: linear-gradient(180deg, darkblue 0%, rgba(255,0,0,0) 100%);
}

#finish-screen > #teams-models > .team#RED > .score {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    -webkit-text-stroke: 1px darkred;
    color: gold;
    width: 100%;
}

#finish-screen > #teams-models > .team#BLUE > .score {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    -webkit-text-stroke: 1px darkblue;
    color: gold;
    width: 100%;
}

#finish-screen > #teams-models > .team > .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#finish-screen > #teams-models > .team > .clients > .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

#finish-screen > #teams-models > .team > .clients > .client > span {
    font-size: 3vh;
    font-weight: bold;
    color: white;
}

#finish-screen > #teams-models > .team.winner#RED {
	background: repeating-linear-gradient(0deg,
    rgb(255, 0, 0, 1),
    rgb(255, 255, 0, 0.5) 7%,
    rgb(255, 0, 0, 1) 10%,
    rgb(255, 255, 0, 0.5) 17%);
	background-size: 100% 700%;
	animation: Gradient 4s infinite linear reverse;
}

#finish-screen > #teams-models > .team.winner#BLUE {
	background: repeating-linear-gradient(0deg,
    rgb(0, 0, 255, 1),
    rgb(255, 255, 0, 0.5) 7%,
    rgb(0, 0, 255, 1) 10%,
    rgb(255, 255, 0, 0.5) 17%);
	background-size: 100% 700%;
	animation: Gradient 4s infinite linear reverse;
}

@keyframes Gradient {
	0% {
		background-position: 0% 0%
	}
	100% {
		background-position: 0% 100%
	}
}

/*
#finish-screen > #teams-models > .team.winner {
    border: solid yellow;
}
*/

