img.picture {
    max-width: 100%;
    width: 100vw;
    height: auto;
}

img.hidden {
    display: none
}

.teamBlue {
    background-color: blue;
}

.teamRed {
    background-color: red;
}

.noTeam {
    background-color: grey;
}

body {
    margin: 0;
}

#header {
    /* width 100% not working with IE11 fullscreen? */
    width: 100vw;
}

#title {
    text-align: center;
    font-family: sans-serif;
    font-size: 2vh;
    color: white;
}

#name {
    text-align: center;
    font-family: sans-serif;
    font-size: 10vh;
    font-weight: bold;
    color: white;
}